#option{
  width: 100%;
  height: 100%;
  
}
#option_list{
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
}

#option_list li{
  list-style: none;
  border: 2px solid #17064A;
  padding: 2.25rem 2.25rem;
  border-radius: 10px;
  background: #d4eeff;
  min-width: 200px;
  width: 25%;
  height: 25%;
 
  justify-content: center;
  text-align: center;
}

#option_list li a{
  text-decoration: none;
  color: #17064A;
  font-weight: 600;
  font-size: 1.2rem;
  justify-content: center;
  display: block;
}
/* hover */
#option_list > li:hover{
  background:#e8e6ff;
  transform:translateY(-2px);
  transition:0.2s;
}
